.userlist_back{

  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvFqSjvHWexE1RRMUOSiyapBgAqIp2vNnJxg&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-grids{
  display: flex;
  justify-content: space-around;
}